html{
    height: 100%;
}

body{
    margin: 0;
}

h1{
    text-align: center;
    margin: 40px 120px 0 0;
    justify-content: center;
}

.invulformulier{
    margin-right: 50%;
    margin-left: 40%;
    margin-top: 40px;
}

#huisnummers{
    margin:0;
    padding: 0;
    width: 240px;
}

.huisnummer{
    width: 106px;
    height: 40px;
    margin-top: 5px;
    border: solid 1px black;
    font-size: 20px;
    border-radius: 2px;
    padding-left: 5px;
}

.invulen{
    width: 230px;
    height: 40px;
    margin-top: 5px;
    border: solid 1px black;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 2px;
}

.submit{
    width: 240px;
    height: 40px;
    margin-top: 5px;
    background-color: rgb(13, 255, 57);
    border: solid 1px black;
    border-radius: 5px;
    font-size: 20px;
}

.submit:hover{
    background-color:rgba(13, 255, 57, 0.729);
}
.submit:active{
    background-color: rgb(13, 255, 57);
}

/* footer */

#footer{
    display: block;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 4, 4, 0.903);
}

.footer-inhoud{
    width: 130px;
    height: 90px;
    display: flex;
    padding-top: 15px;
    border: none;
    margin-left: 300px;
    margin-top: 170px;
}

.footer-inhoud img{
    align-content: center;
    border: none;
     display: flex;
     margin-left: 100px;
     height: 90px;
     width: 130px;
}