body{
    font-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
    margin:10px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding: 10px;
}

@media only screen and{
    body{
        max-width: 960px;
    }
}

#container{
    width: 100%;
    margin: 0px auto;
    height: 1200px;
    border: solid 1px black;
    display: inline-block;
}

header{
    width: 90%;
    border: solid 1px black;
    height: 250px;
    margin: 3% 4% 0 4%;
}

.navbar{
    width: 90%;
    height: 70px;
    border: solid 1px black;
    margin: 3% 4%;
    margin-bottom: 30px;
}

.main{
    width: 45%;
    margin: 0 4% 0 4%;
    border: solid 1px black;
    height: 25%;
    display: inline-block;
    position: relative;

}

.main2{
    width: 45%;
    border: solid 1px black;
    height: 25%;
    margin-top: 25px;
    margin: 2% 4% 0 4%;
    display: inline-block; 
}

.aside{
    width: 35%;
    border: solid 1px black;
    height: 79%;
    display: inline-block;
    margin: 0 6% 0 2%;
    position: relative;
    position: absolute;
}

.footer{
    width: 90%;
    border: solid 1px black;
    height: 70px;
    margin: 2% 4% 0 4%;
    display: inline-block;
}